.centered{
    text-align: center;
}

.jumbotron.header, .panel.content, .well.content {
    background: azure none;
    border-color: darkcyan;
    border-style: solid;
    border-width: 5px;
}

body {
    background-image: url(images/catbutt.png);
    padding-bottom: 128px;
}

.btn-custom {
    color: white;
    background-color: darkcyan;
    margin: 0 8px;
}

.btn-custom.disabled {
    color: black;
    background-color: silver;
}

.modal-body {
    text-align: center;
}

#img1{
    float:left;
}